<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>img(src="/images/d1baaf55865461e4fd5079ae7d80863f.gif", alt="")</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body>
    <!-- CANVA DE PARA MOSTRAR LA TABLA DEL INVENADERO COMO TEMPERATURA Y -->
    <div class="col-8 offset-2">
      <div class="card">
        <div class="card-body">
            <h1>MONITOREO DE INVERNADERO DE PLANTAS.</h1>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    
    <!-- Chart.js CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0/dist/chart.umd.min.js"></script>
    <!-- Script personalizado -->
    <script src="/javascripts/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>